[w-des-sys] {
  --spacing__base: 4px;
  --spacing-half: var(--spacing__base);
  --spacing: calc(var(--spacing__base) * 2);
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --spacing-quadruple: calc(var(--spacing) * 4);
}

@media screen and (min-width: 800px) {
  [w-des-sys] {
    --spacing: var(--spacing__base * 4);
  }
}
