html {
  box-sizing: border-box;
}

html *, html *::before, html *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Medium.ttf');
}


body {
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-900);
  margin: 0;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  line-height: var(--sl-line-height-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
}

main {
  padding: var(--sl-spacing-large);
}

page-header::part(star-sheet) {
  --star-color: var(--sl-color-neutral-900);
}

.page-header-link {
  color: var(--sl-color-neutral-900);
  margin: 0;
  font-family: 'Fredoka', var(--sl-font-sans);
  font-size: var(--sl-font-size-2x-large);
  font-weight: var(--sl-font-weight-semibold);
  line-height: var(--sl-line-height-normal);
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
