html {
  box-sizing: border-box;
}

html *, html *::before, html *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/Fredoka-Medium.ttf');
}


body {
  margin: 0;
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-900);
  line-height: var(--sl-line-height-normal);
}

main {
  padding: var(--sl-spacing-large);
}

page-header a {
  margin: 0;
  font-family: 'Fredoka', var(--sl-font-sans);
  font-size: var(--sl-font-size-2x-large);
  line-height: var(--sl-line-height-normal);
  font-weight: var(--sl-font-weight-semibold);
  color: var(--sl-color-neutral-900);
  text-decoration: none;
}
