@import '../../shared/css/main.css';

main {
  padding: var(--sl-spacing-large);
}

main sl-card {
  display: block;

  max-width: 60ch;
  margin: 0 auto;
}

main sl-card h2 {
  margin: 0;
}

.grid-preview-image {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
}


.grid-preview-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.grid-preview-image {
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}



yz-grid-item:nth-child(even) .grid-preview-image {
  background: red;
}